<div class="content">
  <table class="properties" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <!--Datum control-->
      <tr *ngIf="veld.type === 'datum'">
        <td class="label" valign="top">
          <label style="white-space:nowrap;">{{veld.label}}</label>
        </td>
        <td class="value valuerows0" valign="top">
          <div>
            <span title="Instuurdatum">{{veld.waarde}}</span>
          </div>
        </td>
      </tr><!--Datum control-->
      <!--Cijfer control-->
      <tr *ngIf="veld.type === 'nummer'">
        <td class="label" valign="top">
          <label style="white-space:nowrap;">{{veld.label}}</label>
        </td>
        <td class="value valuerows0" valign="top">
          <div>
            <span title="Nummer">{{veld.waarde}}</span>
          </div>
        </td>
      </tr><!--Cijfer control-->
      <!--Tekstregel control-->
      <tr *ngIf="veld.type === 'tekst'">
        <td class="label" valign="top">
          <span style="white-space:nowrap;">{{veld.label}}</span>
        </td>
        <td class="value" valign="top">
          <div class="readonlyMemo doWrap">
            <span>{{veld.waarde}}</span>
          </div>
        </td>
      </tr><!--Tekstregel control-->
      <!--Tekstblok control-->
      <tr *ngIf="veld.type === 'memo'">
        <td class="label" valign="top">
          <label style="white-space:nowrap;">{{veld.label}}</label>
        </td>
        <td class="value valuerows{{veld.regels}}" valign="top">
          <div>
            <table width="75%" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td valign="top">
                    <div title="Toets hier iets zinnigs in!" class="readonlyMemo doWrap fixedHeight memoRows{{veld.regels}}">
                      <span>{{veld.waarde}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr><!--Tekstblok control-->
      <!--Bijlage control-->
      <tr *ngIf="veld.type === 'bijlage'">
        <td class="label" valign="top">
          <label style="white-space:nowrap;">{{veld.label}}</label>
        </td>
        <td class="value valuerows0" valign="top">
          <div class="filecontrol">
            <a title="Bijlage" class="linkcontrol" href="#">{{veld.waarde}}</a>
          </div>
        </td>
      </tr><!--Bijlage control-->
      <!--Link control-->
      <tr *ngIf="veld.type === 'link'">
        <td class="label" valign="top">
          <label style="white-space:nowrap;">{{veld.label}}</label>
        </td>
        <td class="value valuerows0" valign="top">
          <div class="searchControl">
            <a title="Link" class="linkcontrol control" href="#">{{veld.waarde}}</a>
          </div>
        </td>
      </tr><!--Link control-->
      <!--Ja/nee control-->
      <tr *ngIf="veld.type === 'janee'">
        <td class="label" valign="top"></td>
        <td class="value valuerows0" valign="top">
          <div>
            <table class="checkboxControl" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td valign="middle">
                    <input tabindex="-1" title="Vinkje" class="control checkbox disabled" type="checkbox" autocomplete="off" disabled="disabled">
                  </td>
                  <td valign="middle">
                    <label style="white-space:nowrap;">{{veld.label}}</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr><!--Ja/nee control-->
    </tbody>
  </table>
</div><!--Einde webpart-->
