<!--Part header-->
<div class="partheader" style="height:25px;white-space:nowrap;">
    <h2 class="headertext">
        {{webpart.omschrijving}}
    </h2>
</div>
<!--Part header-->
<!--Begin webpart-->
<div class="content">
    <table class="properties" width="100%" cellpadding="0" cellspacing="0">
        <tbody [dragula]='"bag-one"' [dragulaModel]='webpart.velden'>
            <tr  *ngFor='let veld of webpart.velden'>
                <datum *ngIf="veld.type === 'datum'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)">></datum>
                <tekst *ngIf="veld.type === 'tekst'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></tekst>
                <nummer *ngIf="veld.type === 'nummer'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></nummer>
                <url *ngIf="veld.type === 'url'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></url>
                <url2 *ngIf="veld.type === 'url2'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></url2>
                <memo *ngIf="veld.type === 'memo'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></memo>
                <bijlage *ngIf="veld.type === 'bijlage'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></bijlage>
                <janee *ngIf="veld.type === 'janee'" [veld]="veld" [pagina]="pagina" (onDelete)="onDelete($event)"></janee>
            </tr>
        </tbody>
    </table>
</div>
