<!--Bijlage control-->
<div>
    <td class="label" valign="top">
        <button *ngIf="edit" (click)="deleteVeld(veld)" class="webbutton webbutton-image-only cursorpointer" style="white-space:nowrap;">
            <span class="webbuttonimagecontainer"><img class="webbutton-image" src="app/images/delete.png"></span>
        </button>
        <label *ngIf="!edit" (dblclick)="toggleEdit($event)" style="white-space:nowrap;">{{veld.label}}</label>
        <input *ngIf="edit" (dblclick)="toggleEdit($event)" class="control" [(ngModel)]="veld.label" type="text">
    </td>
    <td class="value valuerows0" valign="top">
        <div class="filecontrol">
            <table *ngIf="edit || pagina.edit" >
                <tbody>
                    <tr>
                        <td valign="middle">
                            <form style="margin:0px;display:inline-block;">
                                <button class="webbutton webbutton-text-only cursorpointer" style="white-space: nowrap;">
                                    <span class="webbutton-text" style="white-space:nowrap">Bestand kiezen</span>
                                </button>
                                <div class="fileDropZone">
                                    <span style="white-space:nowrap;">Of
                                    </span>
                                    <input class="fileDropZoneInput disabled" type="text" value="Plak afbeelding" readonly="readonly">
                                </div>
                                <input type="hidden" name="filesourcetype">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a *ngIf="!edit && !pagina.edit" title="Bijlage" class="linkcontrol" href="#">{{veld.waarde}}</a>
        </div>
    </td>
</div>
<!--Bijlage control-->
