<!--Tekstregel control-->
<div>
  <td>
      <button *ngIf="edit" (click)="deleteVeld(veld)" class="webbutton webbutton-image-only cursorpointer" style="white-space:nowrap;">
          <span class="webbuttonimagecontainer"><img class="webbutton-image" src="app/images/delete.png"></span>
      </button>
  </td>
  <td class="label" valign="top">
    <span *ngIf="!edit" (dblclick)="toggleEdit($event)" style="white-space:nowrap;">{{veld.label}}</span>
    <input *ngIf="edit" (dblclick)="toggleEdit($event)" class="control" [(ngModel)]="veld.label" type="text">
  </td>
  <td class="value" valign="top">
    <div class="readonlyMemo doWrap">
      <span *ngIf="!edit && !pagina.edit" (dblclick)="toggleEdit($event)" >{{veld.waarde}}</span>
      <input *ngIf="edit || pagina.edit"  (dblclick)="toggleEdit($event)" class="control" style="width: 54em;" [(ngModel)]="veld.waarde" type="text">
    </div>
  </td>
</div><!--Tekstregel control-->
